@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

body {
    margin-top: 50px;
    background-color: hsl(0, 0%, 98%);
}

/* HEADER */

.header .title h1 {
    font-weight: 200;
    font-size: 1.8rem;
}

.header .title p {
    font-weight: 600;
    font-size: 2rem;
}

.header {
    display: flex;
    width: 100vw;
    flex-direction: column;
    text-align: center;
}

.title {
    width: 30%;
    margin: auto;
    margin-bottom: 30px;
}

.subtitle {
    font-weight: 200;
    width: 30%;
    margin: auto;
}

/* BOTTOM - CARDS */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    background-color: white;
    margin: 25px;
    border-radius: 10px;
    padding: 30px;
}

.card__header {
    font-weight: 600;
    font-size: 1.5rem;
}

.card__bottom {
    font-weight: 200;

}

.card__line {
    height: 5px;
    width: 460px;
    transform: translate(-30px, -30px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.supervisor-line { 
    background-color: hsl(180, 62%, 55%);
}

.team-line {
    background-color: hsl(0, 78%, 62%);
}

.karma-line {
    background-color: hsl(34, 97%, 64%);
}

.calculator-line {
    background-color: hsl(212, 86%, 64%);
}

.card .img {
    margin-left: auto;
    margin-top: auto;
}

