@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

* {
    font-family: 'Spartan', sans-serif;
    margin-left: 2vw;
    margin-right: 2vw;
}

body {
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom -300px right -100px;
    background-repeat: no-repeat;
}

.main-container {
    margin-top: 50px;
    display: flex;
}

.products {
    width: 50%;
}

.productsUser {
    font-weight: 800;
    color: hsl(300, 43%, 22%);
    font-size: 3rem;
}

.productscustomers {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 2;
}

.reviews {
   
    display: flex;
    justify-content: center;
    flex-direction: column;

}


.review {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 50px;
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    border-radius: 8px;
    font-weight: 800;
    font-size: .7rem;
}

.reviews img {
    margin: 0px;
    margin-right: 10px;
}


.two {
    margin-top: 20px;
    margin-bottom:20px;
    transform: translateX(50px);
}

.three {
    transform: translateX(100px);
}

.customerCard {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 320px;
    height: 200px;
    border-radius: 8px;
    background-color:hsl(300, 43%, 22%);
}

.perfil img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    transform: translateX(-30px);
}


.header {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}


.name {
    width: 100%;
    font-size: .9rem;
    transform: translateX(-120px);
    margin-top: 10px;
    color:hsl(300, 24%, 96%);
    font-weight: 500;
}

.verified {
    width: 100%;
    font-size: .7rem;
    transform: translateX(-120px);
    font-weight: 800;
    color: hsl(303, 10%, 53%)
}

.cardBottom {
    margin-top: 20px;
    font-size: .69rem;
    color: hsl(300, 24%, 96%);
}

.Colton {
    transform: translateY(-50px);
}

.Anne {
    transform: translateY(50px);
}

@media screen and (max-width: 768px){
   .main-container {
       flex-direction: column;
   }

   .products {
        width: 100%;
    }

    .productsUser {
        font-size: 1.5rem;
    }

    .review {
        width: 100%;
        font-size: .6rem;
    }

    .two {
        transform: translateX(0);
    }
    
    .three {
        transform: translateX(0);
    }

   .customerCard {
       flex-direction: column;
       width: 100%;
       margin-top: 100px;
       align-items: center;
   }

   .name{
       transform: translateX(-100px);
   }

   .verified {
    transform: translateX(-100px);
   }

}